### Java / Spring Boot (Backend) ###
backend/build/
backend/out/
backend/.gradle/
backend/bin/
backend/*.log
backend/help.md
.idea/
*.iml
*.class
**/application-dev.yml
**/application-prod.yml

### React / Node.js (Frontend) ###
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
logs
*.log
npm-debug.log*

### Runtime data ###
pids
*.pid
*.seed
*.pid.lock

### env files ###
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

### Etc. ###
memo.txt
*.sql
