# 로컬 개발용 DB 주소
DB_URL=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=

# JWT 설정
JWT_SECRET=
JWT_EXPIRATION=86400000

# 로컬 개발 환경의 이미지 저장 경로
UPLOAD_DIR=./uploads

# 초기 어드민 계정 설정 (선택 사항)
INITIAL_ADMIN_USERNAME=Admin123
INITIAL_ADMIN_NICKNAME=최고관리자
INITIAL_ADMIN_PASSWORD=admin1234!
