# 로컬 개발용 DB 주소
DB_URL=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=

# JWT 설정
JWT_SECRET=
JWT_EXPIRATION=86400000

# 로컬 개발 환경의 이미지 저장 경로
UPLOAD_DIR=./uploads

# 초기 어드민 계정 설정 (선택 사항, 각 내용을 알아서 수정)
INITIAL_ADMIN_USERNAME=Admin123
INITIAL_ADMIN_NICKNAME=최고관리자
INITIAL_ADMIN_PASSWORD=admin1234!

# 이메일 전송 설정 (SMTP) (username, passowrd 수정)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM=no-reply@auction.com
